@import "tailwindcss";
@import "@fontsource/nunito/200.css";
@import "@fontsource/nunito/300.css";
@import "@fontsource/nunito/400.css";
@import "@fontsource/nunito/500.css";
@import "@fontsource/nunito/600.css";
@import "@fontsource/nunito/700.css";
@import "@fontsource/nunito/800.css";
@import "@fontsource/nunito/900.css";

:root {
  --font-nunito: "Nunito", sans-serif;
}

@theme {
  --color-white-alt: #fdfdfd;
  --color-black-alt: #0a0d12;
  --color-neutral: #f5f5f5;
  --color-red-alt: #c12116;
  --color-red-soft: #ffecec;
  --color-gray-border: #d5d7da;
}

body {
  font-family: var(--font-nunito);
}

.icon-red {
  filter: invert(23%) sepia(87%) saturate(4200%) hue-rotate(350deg)
    brightness(95%) contrast(105%);
}
